<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="icon" type="image/png" href="/logo.png">
  <meta property="og:image" content="/banner.png">
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:type" content="website">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Hawk">
  <meta name="twitter:description" content="Hawk is a web hangout game created using Hawk engine.">
  <meta name="twitter:image" content="/banner.png">

  <meta name="description" content="Hawk is a web hangout game created using Hawk engine.">
  <link rel="manifest" href="/api/game/manifest">
  <title>Hawk</title>
  
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>
<body>
  <div id="loading">
    <img src="/logo.svg"></img>
    <div id="tip-wrapper">
      <span id="tip-title"></span>
      <span id="tip"></span>
    </div>
    <div id="loading-bar-wrapper">
      <div id="loading-bar">
        <div></div>
      </div>
    </div>
  </div>
</body>
</html>
